<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Luxe For Goods</title>
    </head>    
<body>
    <div class="h-56 grid grid-cols-4 gap-4 content-start p-8 m-65 my-8">

        <% for(var index=0; index < itemData.length; index++){ %>
            <div>
                <figure class="product-style" data-aos="fade-up"></figure>
                    <img src="<%= itemData[index].data()['photoUrl'] %>" alt="Bags" class="product-item">
                <figcaption>
                    <h3><%= itemData[index].data()['name'] %></h3>
                    <div>₱ <%
                        parseFloat(itemData[index].data()['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %> </div>
                </figcaption>
            </figure>
            </div>
        <% } %>
    </div>
</body>
</html>