<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Luxe For Goods</title>

        <link rel="stylesheet" href=".css/tailwind.css">
        <link rel="stylesheet" href="style.css">
    </head>  

<body>
    <nav class="py-4 bg-gray-600">
        <div class="container mx-auto px-2 text-lg flex text-white font-semibold justify-between">
            <div style="display:inline-block;vertical-align:top;">
                <img class="h-10 inline py-0" src="https://img.icons8.com/bubbles/344/bag-front-view.png" alt="img" class="mr-3 h-6 sm:h-10"/>
                Luxe For Goods
            </div>
        <div>
            <ul class="flex space-x-4 text-lg text-white font-light">
                <Button class="bg-teal-200 px-3 rounded">Home</Button>
                <Button class="bg-teal-200 px-3 rounded">Products</Button>
                <Button class="bg-teal-200 px-3 rounded">Cart</Button>
            </ul>
        </div>
        </div>
    </nav>

    <div class="h-56 grid grid-cols-4 gap-4 content-start p-8 m-65 my-8">

        <% for(var index=0; index < itemData.length; index++){ %>
            <div>
                <figure class="product-style" data-aos="fade-up"></figure>
                    <img src="<%= itemData[index].data()['photoUrl'] %>" alt="Bags" class="product-item">
                <figcaption>
                    <h3><%= itemData[index].data()['name'] %></h3>
                    <div class="item-price">₱ <%
                        parseFloat(itemData[index].data()['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %> </div>
                </figcaption>
            </figure>
            </div>
        <% } %>
    </div>
</body>
</html>