<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Luxe For Goods</title>

        <link rel="stylesheet" href=".css/tailwind.css">
        <link rel="stylesheet" href="style.css">
    </head>  

<body>
    <nav class="py-3 bg-white">
        <div class="container mx-auto px-2 text-lg flex text-gray-500 font-semibold justify-between">
            <div style="display:inline-block;vertical-align:top;">
                <img class="h-10 inline py-0" src="https://img.icons8.com/bubbles/344/bag-front-view.png" alt="img" class="mr-3 h-6 sm:h-10"/>
                Luxe For Goods
            </div>
        <div>
            <ul class="flex space-x-4 text-lg text-white font-light">
                <Button class="bg-yellow-400 px-3 hover:text-teal-400 rounded">Home</Button>
                <Button class="bg-yellow-400 px-3 hover:text-teal-400 rounded">Products</Button>
                <Button class="bg-yellow-400 px-3 hover:text-teal-400 rounded">About</Button>
                <Button class="bg-purple-600 px-3 hover:bg-teal-400 rounded"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>
                  Cart (0)</Button>
            </ul>
        </div>
        </div>
    </nav>

    <div class="flex flex-row mt-20">
        <div class="w-2/5">
            <h2>Welcome to Luxe for Goods!</h2>
            <p>YOUR FAVORITE LUXURY ON THE GO.</p>
            <p>MAKING LIFE MORE FABULOUS.</p>
        </div>
    </div>
    <div class="w-3/5">
        <img src="https://freepngimg.com/download/girl/139604-girl-vector-shopping-winter-free-transparent-image-hd.png" class="w-full"/>
    </div>

    <div class="h-56 grid grid-cols-4 gap-4 content-start p-8 m-65 my-8">

        <% for(var index=0; index < itemData.length; index++){ %>
            <div>
                <figure class="product-style" data-aos="fade-up"></figure>
                    <img src="<%= itemData[index].data()['photoUrl'] %>" alt="Bags" class="product-item">
                <figcaption>
                    <h3><%= itemData[index].data()['name'] %></h3>
                    <div class="item-price">₱ <%
                        parseFloat(itemData[index].data()['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %> </div>
                </figcaption>
            </figure>
            </div>
        <% } %>
    </div>
</body>
</html>