<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Luxe For Goods</title>

        <link rel="stylesheet" href=".css/tailwind.css">
        <link rel="stylesheet" href="style.css">

        <style>
            #menu-toggle:checked+#menu {
              display: block;
            }
        
            #dropdown-toggle:checked+#dropdown {
              display: block;
            }
        
            a,
            span {
              position: relative;
              text-decoration: none;
              transition: all 0.3s ease;
            }
        
            a.arrow,
            span.arrow {
              display: flex;
              align-items: center;
              font-weight: 600;
              line-height: 1.5;
            }
        
            a.arrow .arrow_icon,
            span.arrow .arrow_icon {
              position: relative;
              margin-left: 0.5em;
            }
        
            a.arrow .arrow_icon svg,
            span.arrow .arrow_icon svg {
              transition: transform 0.3s 0.02s ease;
              margin-right: 1em;
            }
        
            a.arrow .arrow_icon::before,
            span.arrow .arrow_icon::before {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 0;
              height: 2px;
              background: #38b2ac;
              transform: translateY(-50%);
              transition: width 0.3s ease;
            }
        
            a.arrow:hover .arrow_icon::before,
            span.arrow:hover .arrow_icon::before {
              width: 1em;
            }
        
            a.arrow:hover .arrow_icon svg,
            span.arrow:hover .arrow_icon svg {
              transform: translateX(0.75em);
            }
        
            /* .cover {
              border-bottom-right-radius: 128px;
            } */
        
            .bg-blue-teal-gradient {
              background: rgb(49, 130, 206);
              background: linear-gradient(90deg, rgba(49, 130, 206, 1) 0%, rgba(56, 178, 172, 1) 100%);
            }
        
            /* @media (min-width: 1024px) {
              .cover {
                border-bottom-right-radius: 256px;
              }
            } */
          </style>
          
    </head>  

<body>
    <nav class="py-3 bg-white">
        <div class="container mx-auto px-2 text-lg flex text-gray-500 font-semibold justify-between">
            <div style="display:inline-block;vertical-align:top;">
                <img class="h-10 inline py-0" src="https://img.icons8.com/bubbles/344/bag-front-view.png" alt="img" class="mr-3 h-6 sm:h-10"/>
                Luxe For Goods
            </div>
        <div>
            <ul class="flex space-x-4 text-lg text-white font-light">
                <Button class="bg-yellow-400 px-3 hover:text-teal-400 rounded">Home</Button>
                <Button class="bg-yellow-400 px-3 hover:text-teal-400 rounded">Products</Button>
                <Button class="bg-yellow-400 px-3 hover:text-teal-400 rounded">About</Button>
                <Button class="bg-purple-600 px-3 hover:bg-teal-400 rounded"> 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>
                  Cart (0)</Button>
            </ul>
        </div>
        </div>
    </nav>

    <div class="h-56 grid grid-cols-4 gap-4 content-start p-8 m-65 my-8">

        <% for(var index=0; index < itemData.length; index++){ %>
            <div>
                <figure class="product-style" data-aos="fade-up"></figure>
                    <img src="<%= itemData[index].data()['photoUrl'] %>" alt="Bags" class="product-item">
                <figcaption>
                    <h3><%= itemData[index].data()['name'] %></h3>
                    <div class="item-price">₱ <%
                        parseFloat(itemData[index].data()['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %> </div>
                </figcaption>
            </figure>
            </div>
        <% } %>
    </div>
</body>
</html>