<div class="container columns-2 right place-content-center space-x-4">
    <div >
        <img class="profilepic left" src="<%= itemData['photoUrl'] %>" alt="Me">
    </div>
    <div >
        <h3 class="font-semibold text-xl right">
            <%= itemData["name"] %>
        </h3>
    </div>
</div>