<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
<div class="container columns-2 right place-content-center space-x-4">
    <div >
        <img class="profilepic left" src="<%= itemData['photoUrl'] %>" alt="Me">
    </div>
    <div >
        <h3 class="font-semibold text-xl right">
            <%= itemData["name"] %>
        </h3>
    </div>
</div>
</body>
</html>